.cover__link {
  color: white;
  text-decoration: none;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(42, 44, 47, 0);
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, .3);
}
