.intro__list {
  margin: 33px 0 92px;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
}

@media screen and (min-width: 1700px) {
  .intro__list {
    font-size: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .intro__list {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 768px) {
  .intro__list {
    margin-bottom: 88px;
  }
}
