.header__logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 176px;
  height: 52px;
  background-image: url(../../../sprint-3-images/header-logo.svg);
}

@media screen and (max-width: 700px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
