.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .intro {
    margin: 0 148px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    margin: 0 auto;
    max-width: 288px;
  }
}
