.cover__title {
  margin: 0 0 32px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  max-width: 560px;
}

@media screen and (min-width: 1700px) {
  .cover__title {
    font-size: 100px;
    max-width: calc(560px + 100vw - 1280px);
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 50px;
    line-height: 1.09;
    max-width: 300px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
    margin-bottom: 16px;
  }
}


