.place__url-heading {
  margin: 0 0 12px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 1700px) {
  .place__url-heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 810px) {
  .place__url-heading {
    line-height: 100%;
  }
}
